@use './base'as *;
@use './mixins/fluid-sizes'as *;

@mixin hover-strip {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: rem(-5);
		width: 0;
		height: rem(2);
		background: linear-gradient(135deg, $base 0%, $accent-2 100%);
		transition: width var(--transition);
	}
}

.title {
	margin: 0;
	margin-bottom: rem(15);
	font-weight: 700;
	font-size: fluid(36, 28);
}

.ptero-btn {
	display: inline-block;
	border-color: rgba(37, 99, 235, 1);
	border-radius: rem(4);
	padding: rem(3) rem(7);
	letter-spacing: 0.025em;
	color: rgba(239, 246, 255, 1);
	background-color: rgba(59, 130, 246, 1);
	cursor: default;
}