/* stylelint-disable media-feature-range-notation */
@use './vars' as *;
@use '../mixins/media' as *;

.page-body{
	position: relative;
	margin: 0;
  font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: $text;
  background: radial-gradient(75rem at 15% 10%, rgba(157, 107, 255, .35), transparent 40%),
   radial-gradient(56.25rem at 85% 30%, rgba(94, 225, 255, .25), transparent 45%),
   linear-gradient(180deg, #0B0F2B, #121740);
	 background-size: 100% 100%;
	 background-repeat: no-repeat;
	 background-attachment: fixed;
}

.page, .page-body{
  height: 100%;
}

.container{
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container);
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main{
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.disabled-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.grid {
  display: grid;
  column-gap: $offset;
  grid-template-columns: repeat(12, 1fr);

  @media (max-width: $tablet) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.flex {
	display: flex;
}

.center{
  max-width: 100%;
  text-align: center;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: $white;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.block-reset {
	margin: 0;
	padding: 0;
}

.m-reset {
	margin: 0;
}
