@use '../base'as *;
@use '../mixins'as *;
@use '../settings'as *;

.contacts {
	background-color: $background-secondary;
	padding-block: rem(80);

	&__icon {
		display: block;
		margin-bottom: rem(5);
		width: 100%;
		object-fit: cover;
	}

	&__list {
		grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));
		gap: $offset;

		&-title {
			@extend .center;

			margin: 0;
			margin-bottom: rem(15);
			font-size: fluid(26, 23);

			@include mobile {
				margin-bottom: rem(10);
			}
		}
	}

	&__item {
		padding: $offset rem(15);

		@include tablet {
			padding: rem(10);
		}
	}

	&__link {
		@extend .center;

		a {
			display: inline-block;
			font-size: fluid(20, 17);

			&:focus {
				outline: none;
			}

			&:focus-visible {
				&::before {
					outline: rem(2) solid $accent-3;
					outline-offset: 0;
					border-radius: rem(20);
				}
			}

			&::before {
				content: '';
				position: absolute;
				inset: 0;
			}

			span {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					right: rem(-22);
					bottom: rem(2);
					width: rem(16);
					height: rem(16);
					background-image: url('#img/external-link.svg');
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}
	}
}