@use '../base' as *;
@use '../mixins' as *;
@use '../settings' as *;

.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
	box-shadow: 0 rem(10) rem(18) $background-secondary;
	background-color: $background-secondary;

	&__container {
		@include fcsb;

		padding-block: rem(15);
	}

	&__right {
		@include fhc;

		column-gap: calc(#{$offset} * 3.5);
	}
}
