@use '../base'as *;
@use '../mixins'as *;
@use '../settings'as *;

.price {
	background-color: $background-secondary;
	padding-block: rem(80);

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill(minmax(rem(350), 1fr)));
		gap: $offset;
	}
}

.price-info {
	margin-top: $offset * 3;

	&__title {
		margin: 0;
		margin-bottom: rem(10);
		font-weight: 500;
		font-size: fluid(22, 19);
	}

	&__list {
		margin: 0;
		padding-left: fluid(30, 20);
	}

	&__text {
		font-size: rem(17);
	}
}

.card-price {
	position: relative;
	overflow: hidden;
	border-radius: rem(10);
	padding: rem(40);
	max-width: rem(400);
	background: linear-gradient(135deg,
			$base 30%,
			$accent 80%),
		rgba(0, 0, 0, 0.18);
	background-blend-mode: multiply;

	&:only-child {
		place-self: center;
	}

	&::after, &::before {
		content: '';
		position: absolute;
		width: rem(200);
		height: rem(25);
		background-color: rgba($text, 0.7);
		pointer-events: none;
	}

	&::before {
		left: rem(-55);
		top: rem(-5);
		transform: translate(-40%, -50%) rotate(-45deg);
		transform-origin: top right;
	}

	&::after {
		right: rem(-60);
		bottom: rem(-5);
		transform: translate(40%, 50%) rotate(-45deg);
		transform-origin: bottom left;
	}

	&__price {
		@extend .center;

		margin-bottom: $offset;
		font-weight: 900;
		font-size: fluid(40, 36);
	}

	&__time {
		@extend .center;

		font-weight: 500;
		font-size: fluid(26, 22);
	}

	&__features {
		list-style: disc;
	}

	&__text {
		@extend .center;

		margin: 0;
		margin-top: $offset;

		&--big {
			font-size: rem(19);
		}
	}
}