@use '../base'as *;
@use '../mixins'as *;
@use '../settings'as *;

.steps {
	counter-reset: step;
	position: relative;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;

	a {
		@include focus;
	}

	&::before {
		content: '';
		position: absolute;
		left: rem(26.5);
		top: 0;
		bottom: 0;
		border-radius: rem(20);
		width: rem(3);
		background-color: $text-accent;
	}

	&__item {
		position: relative;
		padding-left: rem(45);

		@include tablet {
			padding-left: rem(30);
		}

		&:not(:last-child) {
			margin-bottom: rem(40);
		}

		&::before {
			@include fvc;

			counter-increment: step;
			content: counter(step);
			position: absolute;
			left: rem(-44);
			top: 0;
			z-index: 1;
			align-items: flex-end;
			border: rem(2) solid $text;
			border-radius: 50%;
			width: rem(64);
			height: rem(64);
			font-family: $family-second;
			font-size: rem(36);
			color: $white;
			background: rgba($base, 0.6);
			backdrop-filter: blur(rem(4));

			@include tablet {
				left: rem(-36);
				width: rem(48);
				height: rem(48);
				font-size: rem(26);
			}
		}
	}

	&__title {
		margin: 0;
		margin-bottom: rem(10);
		font-weight: 600;
		font-size: fluid(24, 22);
		color: $text-accent;
	}

	&__descr {
		&:first-child {
			margin: rem(5) 0 rem(10);
		}
	}

	&__sub {
		@include mobile {
			padding-left: rem(15);
		}

		&-important {
			p {
				display: inline-flex;
				margin: 0;
				border-radius: rem(10);
				padding: rem(3) rem(7);
				color: $white;
				background-color: rgb(255 49 49 / 70%);
			}
		}
	}

	&__command {
		color: #7b8793;
	}

	&__icon {
		display: inline-flex;
		vertical-align: middle;
		width: rem(18);
		height: rem(18);
	}
}